body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/*nav bar Styling */

.navbar {
  height: 1%;
  background-color: white !important;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.explore {
  color: #fe424d !important;
  font-size: 1.5rem;
  font-weight: 900;
}

.nav-link {
  color: #222222;
}

/* Footer Styling */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 7rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.nav-link {
  opacity: 0.7;
}

.nav-link:hover {
  opacity: 1;
}

/* Styling our Cards */

.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0;
}

.card-text {
  font-weight: 400;
}

.row a {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
  transition: 500ms;
}

.card-img-overlay:hover {
  opacity: 0.4;
  background-color: white;
}

/* Styling to new page form */

.add-btn {
  background-color: #fe424d;
  border: none;
}

/* Edit Page */

.edit-btn {
  background-color: #fe424d;
  border: none;
}

/* Show page */

.show-img {
  height: 30vh;
}

.row a {
  text-decoration: none;
  color: white;
}

.row .edit-btn-show {
  overflow: none;
}

.login a {
  color: blue;
}

.login a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}

.signup a {
  color: green;
}

.signup a:hover {
  text-decoration: underline;
  text-decoration-color: green;
}

#map {
  height: 400px;
  width: 100%;
}

/* Index Page Filter */

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
}

.tax-switch {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

/* Search Button */

.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}

.btn-search:hover {
  background-color: #fe424d;
  color: white;
}

.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}

.input-search {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}

/* Main Page Home Page
 */

#heading {
  margin: 1rem auto;
  color: #fe424d;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
