<% layout("/layouts/boilerplate") %>

<div class="row mt-3 login">
  <div class="col-8 offset-2">
    <h1>Login On WanderLust</h1>
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          placeholder="Enter your username"
          name="username"
          class="form-control"
          id="username"
          required
        />
        <div class="valid-feedback">Username looks perfect</div>
        <div class="invalid-feedback">Please enter valid Username</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          placeholder="Enter your password"
          name="password"
          class="form-control"
          id="password"
          required
        />
        <div class="valid-feedback">Password looks perfect</div>
        <div class="invalid-feedback">Please enter valid Password</div>
      </div>
      <button class="btn btn-outline-success">Login</button> &nbsp; &nbsp; Not
      Registered!
      <a href="/signup">SignUp</a>
    </form>
  </div>
</div>
