<% layout("/layouts/boilerplate") %>

<div class="row mt-3 signup">
  <div class="col-8 offset-2">
    <h1>SignUp On WanderLust</h1>
    <form action="/signup" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          placeholder="Enter your username"
          name="username"
          class="form-control"
          id="username"
          required
        />
        <div class="valid-feedback">Username looks perfect</div>
        <div class="invalid-feedback">Please enter valid Username</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          placeholder="Enter your Email"
          name="email"
          class="form-control"
          id="email"
          required
        />
        <div class="valid-feedback">Email looks perfect</div>
        <div class="invalid-feedback">Please enter valid Email</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          placeholder="Enter your password"
          name="password"
          class="form-control"
          id="password"
          required
        />
        <div class="valid-feedback">Password looks perfect</div>
        <div class="invalid-feedback">Please enter valid Password</div>
      </div>
      <button class="btn btn-outline-primary">SignUp</button> &nbsp; &nbsp;
      Already Registered! <a href="/login">Login</a>
    </form>
  </div>
</div>
